[submodule "mozc"]
	path = mozc
	url = https://github.com/google/mozc
[submodule "abseil-cpp"]
	path = abseil-cpp
	url = https://github.com/abseil/abseil-cpp
[submodule "protobuf"]
	path = protobuf
	url = https://github.com/protocolbuffers/protobuf
